{
  "aws_access_key": "",
  "aws_secret_key": "",
  "aws_region": "us-west-2",

  "tencentcloud_secret_id": "",
  "tencentcloud_secret_key": "",
  "tencentcloud_region": "ap-hongkong",
  "tencentcloud_zone": "ap-hongkong-1",

  "ckb_version": "v0.18.0",
  "miner_threads": "4",
  "ba_arg": "0xb5a27e6b01d309135b06089ce192a267ceada8ea"
}
